<ng-particles
  *ngIf="!darkMode"
  [id]="id"
  [options]="particlesOptions"
  [particlesInit]="particlesInit"
  (particlesLoaded)="particlesLoaded($event)"
></ng-particles>
<ng-particles
  *ngIf="darkMode"
  [id]="id"
  [options]="particlesOptions"
  [particlesInit]="particlesInit"
  (particlesLoaded)="particlesLoaded($event)"
></ng-particles>

<div class="page">
  <mat-card class="container">
    <div class="content">
      <div class="lightbulb">
        <fa-icon
          [icon]="faLightbulb"
          size="2x"
          (click)="toggleBrights()"
        ></fa-icon>
      </div>
      <div class="header">
        <h1 class="title">Hi, I'm Logan</h1>
        <img class="headshot" src="../assets/img/me.png" />
        <div class="footer">
          <a href="https://github.com/Logan-Rose">
            <fa-icon [icon]="faGithub" size="2x"></fa-icon>
          </a>
          <a href="https://www.linkedin.com/in/logan-rose">
            <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
          </a>
          <a href="/assets/Logan Rose.pdf">
            <fa-icon [icon]="faFile" size="2x"></fa-icon>
          </a>
          <button (click)="openLiveResume()">live</button>
        </div>
        <p style="text-align: center">
          I am a hard-working, quick-learning developer with 2 years of
          experience.
          <br />
          I made this website to highlight my work experience and some of the
          projects I have been working on recently.
        </p>
      </div>

      <div class="row">
        <div>
          <h1>Activity</h1>
          <app-heatmap-demo></app-heatmap-demo>
          <!-- <app-github-contributions></app-github-contributions> -->
        </div>
      </div>

      <h1 class="subtitle">Internship Experience</h1>
      <div class="row">
        <mat-card class="tile" (click)="experience('coveo')">
          <img id="coveo" class="logo" src="../assets/img/coveo.png" />
        </mat-card>
        <mat-card class="tile" (click)="experience('vectorsolv')">
          <img class="logo" src="../assets/img/vectorsolv.png" />
        </mat-card>
        <mat-card class="tile" (click)="experience('pco')">
          <img class="logo" src="../assets/img/pco.png" />
        </mat-card>
      </div>
      <div
        *ngIf="coveoSelected || vectorsolvSelected || pcoSelected"
        class="row description"
      >
        <div *ngIf="coveoSelected" class="textbox">
          <a href="https://coveo.com">
            <h2 class="project-title">Coveo</h2>
          </a>
          <h3>Software Developer Consultant Intern</h3>
          <h3>May 2022 - Present</h3>
          <mat-chip-list>
            <mat-chip>Salesforce LWC</mat-chip>
            <mat-chip>Python</mat-chip>
            <mat-chip>.NET</mat-chip>
            <mat-chip>Azure</mat-chip>
            <mat-chip>Git</mat-chip>
            <mat-chip>Consulting</mat-chip>
            <mat-chip>Time Management</mat-chip>
          </mat-chip-list>
          <hr />
          <p>
            I used a broad variety of tools, frameworks, and programming
            languages to develop enterprise search solutions for clients. I
            participated in client meetings to gather requirements, propose
            solutions and provide development progress updates. In addition to
            customer-facing roles, I worked to develop new features for internal
            Azure DevOps extensions.
          </p>
        </div>
        <div *ngIf="vectorsolvSelected" class="textbox">
          <a href="https://vectorsolv.com">
            <h2 class="project-title">Vectorsolv</h2>
          </a>
          <h3>Fullstack Developer Intern</h3>
          <h3>September 2021 - December 2021</h3>
          <mat-chip-list>
            <mat-chip>Angular</mat-chip>
            <mat-chip>Node</mat-chip>
            <mat-chip>PostgreSQL</mat-chip>
            <mat-chip>Azure</mat-chip>
            <mat-chip>Git</mat-chip>
            <mat-chip>Apache Echarts</mat-chip>
            <mat-chip>TypeORM</mat-chip>
            <mat-chip>RxJs</mat-chip>
          </mat-chip-list>
          <hr />
          <p>
            At Vectorsolv, I worked as a part of a small startup team taking
            end-to-end ownership of projects and tasks to satisfy client
            requirements. I Built secure server-side APIs using NestJS alongside
            TypeORM and PostgreSQL to develop and manage databases. I developed
            reusable client-side web components using Angular, and took
            ownership of a major project to develop a highly customizable
            web-based data science dashboard.
          </p>
        </div>
        <div *ngIf="pcoSelected" class="textbox">
          <a href="https://www.canada.ca/en/privy-council.html">
            <h2 class="project-title">Privy Council Office</h2>
          </a>
          <h3>Fullstack Developer Intern</h3>
          <h3>January 2021 - August 2021</h3>
          <mat-chip-list>
            <mat-chip>Angular</mat-chip>
            <mat-chip>.NET</mat-chip>
            <mat-chip>Microsoft SQL Server</mat-chip>
          </mat-chip-list>
          <hr />
          <p>
            At The Privy Council Office, I developed reusable client-side web
            components using Angular for a news media aggregator. I Used .NET to
            develop secure server-side APIs alongside Microsoft SQL Server for
            database management. I also reviewed code, debugged problems, and
            corrected issues.
          </p>
        </div>
      </div>
      <h1 class="subtitle">Recent Projects</h1>
      <div class="row">
        <mat-card class="tile" (click)="projects('asl')">
          <img id="coveo" class="logo" src="../assets/img/ASL.png" />
        </mat-card>
        <mat-card class="tile" (click)="projects('pricecompare')">
          <img class="logo" src="../assets/img/pricecompare.png" />
        </mat-card>
        <mat-card class="tile" (click)="projects('tailor')">
          <img class="logo" src="../assets/img/tailor.png" />
        </mat-card>
      </div>
      <div
        *ngIf="aslSelected || pricecompereSelected || tailorSelected"
        class="row description"
      >
        <div *ngIf="aslSelected" class="textbox">
          <a href="https://github.com/Logan-Rose/ASL-transcriber">
            <h2 class="project-title">American Sign Language Transcriber</h2>
          </a>
          <mat-chip-list>
            <mat-chip>Tensorflow</mat-chip>
            <mat-chip>Machine Learning</mat-chip>
            <mat-chip>Computer Vision</mat-chip>
          </mat-chip-list>
          <hr />
          <p>
            I developed a video tool capable of converting words spelled using
            American Sign Language to text. This was accomplished by using
            OpenCV to find and capture hand signs from a webcam video stream,
            frames were then fed to a neural network built with TensorFlow and
            the final output was constructed by processing the list of
            classified frames through a custom algorithm.
          </p>
        </div>
        <div *ngIf="pricecompereSelected" class="textbox">
          <a href="https://github.com/Logan-Rose/pricecompare">
            <h2 class="project-title">Price Compare</h2>
          </a>
          <mat-chip-list>
            <mat-chip>Python</mat-chip>
            <mat-chip>Web Scraping</mat-chip>
            <mat-chip>Requirements Solicitation</mat-chip>
          </mat-chip-list>
          <hr />
          <p>
            I was hired as a freelance software developer to create a program
            for a small business to scrape price data from competitors,
            highlight price disparities, and output relevant information to
            spreadsheets for analysis.
          </p>
        </div>

        <div *ngIf="tailorSelected" class="textbox">
          <a href="https://github.com/Logan-Rose/tailor">
            <h2 class="project-title">Tailor: The Modular Resume Builder</h2>
          </a>
          <mat-chip-list>
            <mat-chip>Angular</mat-chip>
            <mat-chip>Material UI</mat-chip>
            <mat-chip>Firebase</mat-chip>
          </mat-chip-list>
          <hr />
          <p>
            I am currenlty developing a modular resume builder using Angular and
            Firebase. In the app, users can build a resume by positioning and
            resizing tiles containing information about their education, work
            experience, skills, etc. Currently I am working on adding
            functionality allowing users to save layouts to their account, and
            print to PDF.
          </p>
        </div>
      </div>
      <div class="footer">
        <p>
          <br />
          <br />
          Thanks for taking the time to check out my website. <br />
          If you would like to reach out, send me an email at
          <b>logan.rose0329@gmail.com</b>.
        </p>
      </div>
    </div>
  </mat-card>
</div>
